services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: discord-timestamps-website
    env_file:
      - .env
    environment:
      - IS_PROD=true
      - PORT=7000
    expose:
      - "80"
    image: ghcr.io/${GITHUB_REPOSITORY,,}:latest
    networks:
      - web
    ports:
      - "${PORT:-7000}:7000"
    restart: always

networks:
  web:
    external: true
