*,
html,
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

#selector #datetime-picker-wrapper input,
#selector #datetime-picker-wrapper button,
#selector #timezone-picker-wrapper select {
  background-color: #36393f;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  color: white;
  padding: 5px;
}

body {
  align-items: center;
  background-color: #202225;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.outer-field {
  background-color: #36393f;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  margin: 0 5px;
  padding: 20px;
}

#introduction {
  flex-direction: column;
}

#introduction h1 {
  color: #5865f2;
  display: flex;
  gap: 10px;
}

#introduction h1 img {
  height: 40px;
  vertical-align: middle;
  width: 40px;
}

#introduction h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 5px 0;
}

#introduction #credits {
  color: #dddddd;
  font-size: 12px;
}

#selector {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 5px;
}

#selector #datetime-picker {
  margin-right: 5px;
}

#selector #datetime-picker-wrapper button:hover {
  background-color: #5865f2;
  transition: background-color 0.2s linear;
}

#output,
#output .timestamp-field {
  display: flex;
  flex-direction: column;
}

#output {
  padding: 5px 5px 0 5px;
}

#output .timestamp-field {
  background-color: #1f2124;
  border-radius: 5px;
  margin-bottom: 10px;
}

#output .timestamp-field .header,
#output .timestamp-field .body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

#output .timestamp-field .body {
  background-color: #2f3136;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

#output .timestamp-field .header .title,
#output .timestamp-field .header .example,
#output .timestamp-field .body .code,
#output .timestamp-field .body .clickToCopy {
  padding: 5px;
}

#output .timestamp-field .header .example {
  background-color: #3e434a;
  border-radius: 5px;
}

#output .timestamp-field .body .clickToCopy {
  color: #5865f2;
  pointer-events: none;
}

#notification {
  background-color: #57f287;
  color: black;
  opacity: 0;
  padding: 15px;
  position: absolute;
  text-align: center;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  visibility: hidden;
  width: calc(100% - 30px);
}

#notification.visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 500px) {
  .outer-field {
    padding: 10px;
  }

  #selector {
    align-items: center;
    flex-direction: column;
  }

  #selector #timezone-picker-wrapper {
    margin-top: 10px;
  }
}
